@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "shabnam";
    src: url("./assets/Fonts/Shabnam-FD-WOL.ttf") format("woff");
}

*{
    font-family: "shabnam";
    direction: rtl;
    text-align: right
}